.menu {
    margin-left: 207px;
}
.contact-us-menu {
    width: 1500px;
    margin: auto;
    position: relative;
    margin-top: 230px;
}
.adress-map {
    display: flex;
    margin-top: 120px;
    margin-left: 12px;
}
.adress-map-img, .number-map-img, .email-map-img {
    width: 40px;
    height: 40px;
}
.adress-map p, .number-map p, .email-map p {
    color: #F2AA3D;
    margin-left: 50px;
    font-size: 2.5em;
    margin-top: -1px;
}
.adress-link, .number-number, .email-email {
    display: block;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    margin-left: 12px;
    margin-top: -20px;
}
.number-map, .email-map {
    display: flex;
    margin-top: 80px;
    margin-left: 12px;
}
.contact-form {
    float: right;
    position: relative;
    width: 600px;
    height: 450px;
    bottom: 455px;
    right: 180px;
    background-color: #333232;
}
.contact-form label {
    display: block;
    color: white;
    font-size: 1.5em;   
    margin-left: 30px;
    margin-top: 13px;
}
.contact-form input {
    display: block;
    width: 500px;
    height: 40px;
    margin-left: 50px;
    border: 2px solid #d1830f;
    background-color: #333232;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    font-size: 1.2em;
}
.contact-form input:focus {
    outline: none;
    border: 2px solid rgb(218, 76, 20);
}
.contact-form input[type="submit"] {
    width: 200px;
    height: 47px;
    background-color: #d1830f;
    margin-top: 20px;
    text-transform: uppercase;
}
.contact-form input[type="submit"]:hover {
    background-color: rgb(218, 76, 20);
    border: 2px solid rgb(218, 76, 20)
};
