h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--font-color);
    text-transform: uppercase;
    margin-top: 150px;
    font-family: merriweather;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1844px;
    width: 1400px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;  
}
main img {
    width: 33%;
    margin: 5px 5px;
    filter: grayscale(1);
}
main img:hover {
    position: relative;
    z-index: 10;
    animation-name: img-animation;
    animation-duration: 1.5s;
}

@keyframes img-animation {
    0% {
        filter: grayscale(1);
    }
    25% {
        transform: scale(1.8);
    }
    100% {
        filter: unset;
        transform: scale(1.3);
    }
}
